---
title: "Alpha 2"
---

<h1>Alpha 2</h1>

<p>Here are the current development milestones set for the release of Alpha 2.</p>

<h4>Dronesmith Link</h4>
<p>Dronesmith Link, the core integration that allows Luci to phone home to the cloud and acts as surrogate for all things Dronesmithing, has been redeveloped from the ground up. The main reason for this was to improve performance and ensure it is prepared for the future.</p>
<p><strong>100% complete.</strong> In testing.</p>


<h4>Automated Installer</h4>
<p>Dronesmith Cloud will offer improved distribution and an automated installer for DS Link.</p>
<p><strong>95% complete.</strong> Small modifications required. Needs testing.</p>

<h4>Mission Syncing</h4>
<p>DS Link will sync flight data to the Cloud when it becomes available.</p>
<p><strong>0% complete.</strong> Not started. After testing of DS Link is successful, I will begin work on this.</p>

<h4>Luci Status</h4>
<p>Luci status is now served from a web view on the Edison. This allows you to view what systems are working and not working, add broadcast outlets for your Ground Control, and view raw flight telemetry data.</p>
<p><strong>100% complete.</strong> In testing.</p>

<h4>Luci First Time Setup</h4>
<p>There is now a first time set up for your Luci so you can authenticate with DSC.</p>
<p><strong>90% complete.</strong> Everything but the wifi setup is here.</p>

<h4>/api/app Endpoint</h4>
<p>You can now grab Dronesmith integrations using the /api/app endpoint. Current integrations are LuciCam and Dronesmith Link.</p>
<p><strong>50% complete.</strong> Development paused.</p>

<p>Dronesmith Link is considered a core integration. It must be installed before any other integrations can be installed.</p>

<p>Integrations can be installed from DSC. 

<h4>Edison Hotspot Swap</h4>
<p>The Edison now supports the ability to switch between WiFi station and access point modes. This happens when the Edison boots and cannot find an access point to connect to. This should make it easier to develop in the field.</p>
<p><strong>100% complete.</strong></p>

<h4>Improved Documentation</h4>
<p>General documentation all around will be improved on Alpha 2 release, to make getting started with Luci and DS Link, and DSC easier.</p>
<p><strong>0% complete.</strong> Not started.</p>