---
title: About
---

<h1>Dronesmith Labs</h1>
<h4>From the desk of Geoff Gardner</h4>

<p>Welcome. I'll be using this site to post updates, milestones, architectual features, etc... Straight from the software development department.</p>

<p>Milestone for Alpha 2 on the side bar.</p>
