<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dronesmith Labs - <%= @item[:title] %></title>
    <link rel="stylesheet" href="stylesheet.css">

    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Dronesmith Suite</h2>
      <ul>
        <li><a href="https://dronesmith.readme.io/">Documentation</a></li>
        <li><a href="http://stage.dronesmith.io/">Staging</a></li>
        <li><a href="http://www.dronesmith.io/luci/">Luci</a></li>
      </ul>
      <h2>Milestones</h2>
        <li><a href="alpha2">Alpha 2</a></li>
      <ul>
      </ul>
      <h2>Community</h2>
      <ul>
        <li><a href="http://community.dronesmith.io/">Discussion Group</a></li>
        <li><a href="http://www.dronesmith.io/">Dronesmith Technologies</a></li>
      </ul>
    </div>
  </body>
</html>
